---
layout: default
id: archive
title: 存档
permalink: archive.html
---
<ul class="list-unstyled clearfix">
  {% for post in site.posts %}
    {% capture year_month %}{{ post.date | date: '%Y.%m' }}{% endcapture %}
    {% if post.next %}
      {% capture next_year_month %}{{ post.next.date | date: '%Y.%m' }}{% endcapture %}
      {% if year_month != next_year_month %}
  <h4 id="{{ year_month }}"><a href="#{{ year_month }}">{{ year_month }}</a></h4>
      {% endif %}
    {% else %}
  <h4 id="{{ year_month }}"><a href="#{{ year_month }}">{{ year_month }}</a></h4>
    {% endif %}
  <li>
    <a href="{{ post.url }}" class="pull-left">{{ post.title }}</a>
    <span class="text-muted pull-right">{{ post.date | date: "%m/%d/%Y" }}</span>
  </li>
  {% endfor %}
</ul>
