---
layout:    default
title:     Archives
permalink: archives.html
---
<section class="list_section">

    {% for post in site.posts %}
        {% capture month_year %}{{ post.date | date: "%B %Y" }}{% endcapture %}
        {% capture month_year_anchor %}{{ post.date | date: "%B_%Y" }}{% endcapture %}
        {% capture post_date %}{{ post.date | date: '%B %d, %Y' }}{% endcapture %}
        {% unless post.next %}

                </div>
            </div>
        <div class="panel panel-default tag_panel" id="{{ month_year_anchor }}">
            <div class="panel-heading"><span class="tag_name">{{ month_year }}</span></div>
            <div class="list-group post_ul">

        {% else %}
            {% capture next_month_year %}{{ post.next.date | date: "%B %Y" }}{% endcapture %}
            {% if month_year != next_month_year %}

            </div>
        </div>
            <div class="panel panel-default tag_panel" id="{{ month_year_anchor }}">
                <div class="panel-heading"><span class="tag_name">{{ month_year }}</span></div>
                <div class="list-group post_ul">

            {% endif %}
        {% endunless %}

        <a class="list-group-item" href="{{ post.url }}"><span class="item_title">{{ post.title }}</span><span class="item_date">{{ post_date }}</span></a>

    {% endfor %}

</section>