---
layout: default
---


<div class="main">
    <div class="pure-g">
        {% for post in paginator.posts %}
        <div class="pure-u-1 margin-5"><a href="{{ post.url }}" class="link">{{ post.title }}</a> <sub>({{ post.date | date: "%F" }})</sub></div>
        {% endfor %}
        <div class="pure-u-1 margin-5 pager">
            {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="pure-button">&nbsp;&larr;&nbsp;</a>
            {% else %}
            <a href="javascript:;" class="pure-button pure-button-disabled">&nbsp;&larr;&nbsp;</a>
            {% endif %}
            {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="pure-button">&nbsp;&rarr;&nbsp;</a>
            {% else %}
            <a href="javascript:;" class="pure-button pure-button-disabled">&nbsp;&rarr;&nbsp;</a>
            {% endif %}
        </div>
    </div>
</div>
