---
layout: default
---
<section class="list_section">
    <div class="list-group post_ul">
        {% for post in paginator.posts %}
        <a class="list-group-item" href="{{ post.url }}"><span class="item_title">{{ post.title }}</span><span class="item_date">{{ post.date | date: '%B %d, %Y' }}</span></a>
        {% endfor %}
    </div>
</section>

<div class="w3-row w3-center">
    <ul class="w3-half w3-ul w3-border w3-card-4 div-center site-list">
        {% for post in paginator.posts %}
        <li class="w3-padding-16 w3-padding-left w3-padding-right w3-clear">
            <a href="{{ post.url }}"><span class="p-title w3-left">{{ post.title }}</span></a><span class="p-date w3-right">{{ page.date | date: "%Y年%m月%d日" }}</span>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="w3-center site-list-page">
    <ul class="w3-pagination w3-border w3-round">
        {% if paginator.previous_page %}
        <li><a href="{{ paginator.previous_page_path }}"> &laquo; </a></li>
        {% endif %}
        {% if paginator.next_page %}
        <li><a href="{{ paginator.next_page_path }}"> &raquo; </a></li>
        {% endif %}
    </ul>
</div>
