---
layout: default
id: tag
title: 标签
permalink: tag.html
---
<ul class="list-unstyled text-left text-muted tags">
  {% for tag in site.tags %}
  <a href="#{{ tag[0] }}">{{ tag[0] }}</a>
  {% endfor %}
</ul>
<ul class="list-unstyled clearfix">
  {% for tag in site.tags %}
  <h4 id="{{ tag[0] }}"><a href="#{{ tag[0] }}">{{ tag[0] }}</a></h4>
    {% for post in tag[1] %}
  <li>
    <a href="{{ post.url }}" class="pull-left">{{ post.title }}</a>
    <span class="text-muted pull-right">{{ post.date | date: "%m/%d/%Y" }}</span>
  </li>
    {% endfor %}
  {% endfor %}
</ul>
