---
layout:    default
title:     标签
permalink: tags.html
---


<div class="main">
    <div class="pure-g">
        <div class="pure-u-1 margin-5">
            {% for tag in site.tags %}
            {% if tag[1].size > 35 %}
            {% capture tmark %} {{ "tag-45" }} {% endcapture %}
            {% endif %}
            {% if tag[1].size <= 35 %}
            {% capture tmark %} {{ "tag-35" }} {% endcapture %}
            {% endif %}
            {% if tag[1].size <= 25 %}
            {% capture tmark %} {{ "tag-25" }} {% endcapture %}
            {% endif %}
            {% if tag[1].size <= 15 %}
            {% capture tmark %} {{ "tag-15" }} {% endcapture %}
            {% endif %}
            {% if tag[1].size <= 5 %}
            {% capture tmark %} {{ "tag-5" }} {% endcapture %}
            {% endif %}
            <span class="t {{ tmark }}"><a href="#{{ tag[0] }}" class="plink">{{ tag[0] }}<sup>{{ tag[1].size }}</sup></a></span>
            {% endfor %}
        </div>

        {% for tag in site.tags %}
        <div class="pure-u-1 head-text" id="{{ tag[0] }}">{{ tag[0] }}</div>
        {% for post in tag[1] %}
        <div class="pure-u-1 margin-5"><a href="{{ post.url }}" class="link">{{ post.title }}</a> <sub>({{ post.date | date: "%F" }})</sub></div>
        {% endfor %}
        {% endfor %}
    </div>
</div>
