* {
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", "微软雅黑", Helvetica, Arial, sans-serif;
}

.no-decoration {
  text-decoration: none;
}

.font-bold {
  font-weight: bold;
}

.site-title {
  margin: 0;
  font-weight: bold;
  letter-spacing: 2px;
}

.site-header .w3-navbar li {
  display: inline-block;
  float: none;
}

.site-main {
  padding: 40px 0;
  margin: 0 auto;
}

.article-wrap, .div-center {
  float: none;
  margin: 0 auto !important;
}

.w3-ul > li > a {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

.site-list-wrap {
  margin: 0 0 20px 0;
}

.p-title, .p-date {
  margin: 5px 0;
}

.site-list-page {
  margin: 20px 0 0;
}

/* 存档 */
.site-main .site-list-wrap:last-child {
  margin: 0;
}

/* 标签 */
.site-tag {
  margin-bottom: 20px !important;
}

.site-tag span {
  font-size: 16px;
  margin-bottom: 6px;
  padding: 8px;
}

/* 文章 */
.site-article-tag {
  margin-bottom: 0 !important;
}

.site-article-info {
  font-size: 16px;
}

.highlight {
  margin: 0;
}

.highlight * {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
}
