.custom-menu-wrapper {
  background-color: #808080;
  margin-bottom: 2em;
  white-space: nowrap;
  position: relative;
}

.custom-menu {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
}

.custom-menu .pure-menu-link,
.custom-menu .pure-menu-heading {
  color: white;
}

.custom-menu .pure-menu-link:hover,
.custom-menu .pure-menu-heading:hover {
  background-color: transparent;
}

.custom-menu-top {
  position: relative;
  padding-top: .5em;
  padding-bottom: .5em;
}

.custom-menu-brand {
  display: block;
  text-align: center;
  position: relative;
}

.custom-menu-toggle {
  width: 44px;
  height: 44px;
  display: block;
  position: absolute;
  top: 3px;
  right: 0;
  display: none;
}

.custom-menu-toggle .bar {
  background-color: white;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 100px;
  position: absolute;
  top: 22px;
  right: 12px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.custom-menu-toggle .bar:first-child {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
}

.custom-menu-toggle.x .bar {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom-menu-toggle.x .bar:first-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.custom-menu-screen {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  height: 3em;
  width: 70em;
  position: absolute;
  top: 0;
  z-index: -1;
}

.custom-menu-tucked .custom-menu-screen {
  -webkit-transform: translateY(-44px);
  -moz-transform: translateY(-44px);
  -ms-transform: translateY(-44px);
  transform: translateY(-44px);
}

@media (max-width: 62em) {

  .custom-menu {
    display: block;
  }

  .custom-menu-toggle {
    display: block;
    display: none\9;
  }

  .custom-menu-bottom {
    position: absolute;
    width: 100%;
    border-top: 1px solid #eee;
    background-color: #808080\9;
    z-index: 100;
  }

  .custom-menu-bottom .pure-menu-link {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
  }

  .custom-menu-bottom.custom-menu-tucked .pure-menu-link {
    -webkit-transform: translateX(-140px);
    -moz-transform: translateX(-140px);
    -ms-transform: translateX(-140px);
    transform: translateX(-140px);
    opacity: 0;
    opacity: 1\9;
  }

  .pure-menu-horizontal.custom-menu-tucked {
    z-index: -1;
    top: 45px;
    position: absolute;
    overflow: hidden;
  }

  .pager {
    text-align: center;
  }
}

/*** 开始 ***/
.main {
  line-height: 1.5em;
  padding: .5em 1em;
  color: black;
}

.margin-5 {
  margin: 5px 0;
}

.head-text {
  color: #888;
  font-size: 1.6em;
  line-height: 2em;
}

.title-text {
  color: #6E6C6C;
  font-size: 1.8em;
  line-height: 1.8em;
}

.author-text {
  font-family: Helvetica, Arial, Freesans, clean, sans-serif;
  color: #6E6C6C;
}

.link, .plink {
  text-decoration: none;
  color: #000;
}

.link:hover {
  text-decoration: underline;
  color: #008D99;
}

.plink:hover {
  color: #666DFF;
}

.flink {
  color: #000;
  text-decoration: none;
}

.flink:hover {
  color: #fff;
  background-color: #008D99;
}

.notfound {
  line-height: 1em;
  font-size: 1.5em;
  color: #ED0000;
}

.t {
  line-height:  1.8em;
  padding: 0 .1em;
}

.tag-5 {
  font-size: 0.8em;
}

.tag-10 {
  font-size: 1em;
}

.tag-15 {
  font-size: 1.2em;
}

.tag-25 {
  font-size: 1.4em;
}

.tag-35 {
  font-size: 1.8em;
}

.footer {
  padding: .5em 1em;
  height: 18px;
  background-color: #D3D3D3;
  margin-top: 2em;
}/*** 结束 ***/