.container {
  max-width: 750px;
}

/* 头部标题 */
.header h4 {
  line-height: 40px;
}

.header h4 a {
  color: #000;
}

.header h4 a:hover {
  text-decoration: none;
}

/* 头部导航栏 */
.nav.header-nav > li {
  float: left;
}

.nav.header-nav > li > a {
  color: #333;
}

.nav.header-nav > li > a:focus, .nav.header-nav > li > a:hover {
  text-decoration: underline;
  background-color: inherit;
}

.nav.header-nav > li.active {
  text-decoration: underline;
}

/* 列表 */
.main > ul > li {
  height: 50px;
  line-height: 50px;
  font-size: 16px;
}

.main > ul > li > a {
  color: inherit;
}

/* 分页、所有标签 */
.page-style a {
  padding: 10px 15px;
  color: inherit;
}

/* 存档、标签页锚点 */
.list-unstyled > h4 > a {
  color: inherit;
  text-decoration: none;
}

/* 所有标签 */
.tags a {
  padding: 10px 15px;
  color: inherit;
  text-decoration: none;
}

.tags a:first-child {
  padding-left: 0;
}
