---
layout: default
---
<div class="w3-row">
  <div class="w3-half w3-center article-wrap">
    <h1 class="w3-margin-bottom site-article-title">{{ page.title }}</h1>
    <div class="w3-margin-bottom site-article-info"><span>{{ page.date | date: "%Y年%m月%d日" }}</span></div>
    {% if page.tags != empty %}
    <div class="w3-margin-bottom site-tag site-article-tag">
      {% for tag in page.tags %}
      <a href="{{ baseurl }}tag.html#{{ tag }}" class="no-decoration">#{{ tag }}</a>
      {% endfor %}
    </div>
    {% endif %}
    <article class="markdown-body w3-margin-top">{{ content }}</article>
  </div>
</div>

