<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ site.author }}" />
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{{ site.keywords }}">
  <title>{% if page.title %}{{ page.title}} | {% endif %}{{ site.title }}</title>
  <link rel="stylesheet" type="text/css" href="{{ site.asseturl }}bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ site.asseturl }}bootstrap/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="{{ site.asseturl }}css/github-markdown.css">
  <link rel="stylesheet" type="text/css" href="{{ site.asseturl }}css/bw.css">
  <link rel="stylesheet" type="text/css" href="{{ site.asseturl }}css/app.css">
</head>
<body>
  <div class="container">
    <header class="header">
      <ul class="nav pull-right header-nav">
        <li class="{% if page.id == 'index' %}active{% endif %}">
          <a href="{{ site.baseurl }}">首页</a>
        </li>
        <li class="{% if page.id == 'archive' %}active{% endif %}">
          <a href="{{ site.baseurl }}archive.html">存档</a>
        </li>
        <li class="{% if page.id == 'tag' %}active{% endif %}">
          <a href="{{ site.baseurl }}tag.html">标签</a>
        </li>
      </ul>
      <h4><a href="{{ site.baseurl }}">{{ site.author }}</a></h4>
    </header>
    <div class="text-center main">{{ content }}</div>
  </div>
  {% include baidu-static.html %}
</body>
</html>
