<!doctype html>
<html class="no-js" lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="{{ site.author.name }}" />
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% if page.title %}{{ page.title}} - {% endif %}{{ site.title }}</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/x-icon" href="{{ site.asseturl }}i/favicon.ico">

    <link rel="stylesheet" href="{{ site.asseturl }}css/pure.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ site.asseturl }}css/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="{{ site.asseturl }}css/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="{{ site.asseturl }}css/swiss.css">
    <link rel="stylesheet" href="{{ site.asseturl }}css/app.css">
</head>
<body>

<div class="custom-menu-wrapper">
    <div class="pure-menu custom-menu custom-menu-top">
        <a href="/" class="pure-menu-heading custom-menu-brand">imzhi blog</a>
        <a href="#" class="custom-menu-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
    </div>
    <div class="pure-menu pure-menu-horizontal pure-menu-scrollable custom-menu custom-menu-bottom custom-menu-tucked" id="tuckedMenu">
        <div class="custom-menu-screen"></div>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/" class="pure-menu-link">首页</a></li>
            <li class="pure-menu-item"><a href="/about.html" class="pure-menu-link">关于</a></li>
            <li class="pure-menu-item"><a href="/archives.html" class="pure-menu-link">存档</a></li>
            <li class="pure-menu-item"><a href="/tags.html" class="pure-menu-link">标签</a></li>
        </ul>
    </div>
</div>

{{ content }}

<div class="footer">
    <small>2013-2015. By imzhi. Powerd by GitHub Pages.</small>
    <br>
    <small>Generate time: {{ site.time | date: "%F %H:%M" }}.</small>
</div>

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
<![endif]-->
<script src="{{ site.asseturl }}js/app.js"></script>

{% include bdstatic.html %}

</body>
</html>