---
layout: default
---


<div class="main">
    <div class="title-text">{{ page.title }}</div>
    <div class="author-text">By {{ site.author.name }} at {{ page.date | date: "%Y/%m/%d" }}</div>
    {% if page.tags != empty %}
    <div class="tag-text">{% for tag in page.tags %}<a href="{{ site.baseurl }}tags.html#{{ tag }}" class="post-tag">#{{ tag }}</a>{% endfor %}</div>
    {% endif %}
    <div class="pure-g" style="letter-spacing: normal;">
        <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-1" id="markdown-swiss">{{ content }}</div>
    </div>

    {% include duoshuo.html %}

</div>
