---
layout:        default
---
<div class="blog-post">
    <h2 class="blog-post-title">{{ page.title }}</h2>
    <p class="blog-post-meta">{{ page.date | date: '%B %d, %Y' }}</p>

    {% if page.tags != empty %}

    <div class="blog_tags">

        {% for tag in page.tags %}

        <a href="/tags.html#{{ tag }}" class="tag_item">#{{ tag }}</a>

        {% endfor %}

    </div>

    {% endif %}

    <div class="blog_content">

        {{ content }}

    </div>
</div><!-- /.blog-post -->

<div class="blog_comment {{ page.allow_comment }}">

        {% include disqus.html %}

</div><!-- /.blog_comment -->